-- ================================================================
-- WAREHOUSE CREATION
-- (Execute the following commands in the appropriate account)
-- ================================================================

-- Create
-- Run as Data Product Owner
USE ROLE {{ dataproduct_list[0] | upper }}_OWNER;

{% for item in warehouse_purpose_list %}
CREATE {{ dataproduct_list[0] | upper }}_{{ item | upper }}_WH
  WAREHOUSE_SIZE = 'XSMALL'
  MIN_CLUSTER_COUNT = 1
  MAX_CLUSTER_COUNT = 5
  SCALING_POLICY = 'STANDARD'
  AUTO_SUSPEND = 60
  AUTO_RESUME = TRUE
  COMMENT = '{{ item | capitalize }} warehouse for {{ dataproduct_list[0] | capitalize }}';
{% endfor %}