-- ================================================================
-- SCHEMA CREATION
-- (Execute the following commands in the appropriate account)
-- ================================================================

-- Run as SYSADMIN
USE ROLE SYSADMIN;

-- Create
-- Run as Data Product Owner
USE ROLE {{ dataproduct_list[0] | upper }}_OWNER;

{% if account_name_convention == 'Domain' %}USE DATABASE {{ dataproduct_list[0] | upper }}_{{ environment_list[0] | upper }}_{{ zone_list[0] }};
{% elif account_name_convention == 'Environment' %}USE DATABASE {{ domain_list[0] | upper }}_{{ dataproduct_list[0] | upper }}_{{ zone_list[0] | upper }};
{% elif account_name_convention == 'Domain_Environment' or account_name_convention == 'Environment_Domain' %}USE DATABASE {{ dataproduct_list[0] | upper }}_{{ zone_list[0] | upper }};
{% else %}USE DATABASE {{ domain_list[0] | upper }}_{{ dataproduct_list[0] | upper }}_{{ environment_list[0] | upper }}_{{ zone_list[0] | upper }};
{% endif %}
{% for list_item_1 in stem_list %}{% for list_item_2 in purpose_list %}
CREATE SCHEMA WITH MANAGED ACCESS {{ list_item_1 | upper }}_{{ list_item_2 | upper }}
  WITH TAG (STEM = '{{ list_item_1  | upper }}', PURPOSE = '{{ list_item_2 | upper }}')
  COMMENT = '{{ list_item_1 | capitalize }} schema for {{ list_item_2 | lower }} purpose.';
{% endfor %}{% endfor %}