-- ============================================================================
-- CREATE WAREHOUSES
-- ============================================================================
-- Data Product: {{ data_product_name }}
-- Domain: {{ data_product_domain }}
-- Environment: {{ data_product_environment }}
{%- if account_strategy != 'Single Account' %}
-- Target Account: {{ target_account_name | upper }}
{%- endif %}
-- ============================================================================
-- EXECUTE FROM: {% if account_strategy != 'Single Account' %}{{ target_account_name | upper }}{% else %}Primary Account{% endif %}
-- REQUIRED ROLE: SYSADMIN
-- ============================================================================

USE ROLE SYSADMIN;

-- ============================================================================
-- TAG DATABASE REFERENCE
-- ============================================================================
{%- if account_strategy == 'Single Account' %}
{%- set tag_db = platform_database_name | upper %}
{%- else %}
{%- set tag_db = platform_database_name | upper ~ '_SHARED' %}
{%- endif %}

{#- Extract numeric value from statement timeout selection -#}
{%- set timeout_seconds = warehouse_statement_timeout | regex_replace('[^0-9].*', '') | int %}

-- ============================================================================
-- CREATE WAREHOUSES
-- ============================================================================

{%- for wh in warehouse_definitions %}

-- ----------------------------------------------------------------------------
-- {{ wh.warehouse_name | upper }} - {{ wh.purpose }}
-- ----------------------------------------------------------------------------

{#- Build warehouse name based on component order and account strategy -#}
{%- set modifier_suffix = ('_' ~ wh.modifier | upper) if wh.modifier else '' %}
{%- if object_component_order == '<domain>_<env>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<domain>_<dataproduct>_<env>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<env>_<domain>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- endif %}

CREATE WAREHOUSE IF NOT EXISTS {{ wh_name }}
  WAREHOUSE_SIZE = '{{ wh.size }}'
  AUTO_SUSPEND = {{ wh.auto_suspend_seconds }}
  AUTO_RESUME = TRUE
  INITIALLY_SUSPENDED = TRUE
  MIN_CLUSTER_COUNT = 1
  MAX_CLUSTER_COUNT = 3
  SCALING_POLICY = 'STANDARD'
  STATEMENT_TIMEOUT_IN_SECONDS = {{ timeout_seconds }}
  COMMENT = '{{ wh.purpose }} warehouse for {{ data_product_name }} data product';

-- Apply cost allocation tags to warehouse
ALTER WAREHOUSE {{ wh_name }} SET TAG
  {{ tag_db }}.{{ governance_name | upper }}.DOMAIN = '{{ data_product_domain | upper }}',
  {{ tag_db }}.{{ governance_name | upper }}.ENVIRONMENT = '{{ data_product_environment | upper }}',
  {{ tag_db }}.{{ governance_name | upper }}.DATAPRODUCT = '{{ data_product_name | upper }}',
  {{ tag_db }}.{{ governance_name | upper }}.WORKLOAD = '{{ wh.purpose | upper }}';

{%- endfor %}

-- ============================================================================
-- TRANSFER OWNERSHIP TO DATA PRODUCT OWNER
-- ============================================================================

USE ROLE ACCOUNTADMIN;

{%- for wh in warehouse_definitions %}
{%- set modifier_suffix = ('_' ~ wh.modifier | upper) if wh.modifier else '' %}
{%- if object_component_order == '<domain>_<env>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<domain>_<dataproduct>_<env>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<env>_<domain>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- endif %}
GRANT OWNERSHIP ON WAREHOUSE {{ wh_name }}
  TO ROLE {{ data_product_name | upper }}_ADMIN
  COPY CURRENT GRANTS;
{%- endfor %}

-- ============================================================================
-- VERIFICATION
-- ============================================================================

-- Show created warehouses
SHOW WAREHOUSES LIKE '%{{ data_product_name | upper }}%';

-- Describe warehouse settings
{%- for wh in warehouse_definitions %}
{%- set modifier_suffix = ('_' ~ wh.modifier | upper) if wh.modifier else '' %}
{%- if object_component_order == '<domain>_<env>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<domain>_<dataproduct>_<env>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ data_product_environment | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- elif object_component_order == '<env>_<domain>_<dataproduct>' %}
{%- if account_strategy == 'Single Account' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Environment-based)' %}
{%- set wh_name = data_product_domain | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain-based)' %}
{%- set wh_name = data_product_environment | upper ~ '_' ~ data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- elif account_strategy == 'Multi-Account (Domain + Environment)' %}
{%- set wh_name = data_product_name | upper ~ '_' ~ wh.warehouse_name | upper ~ modifier_suffix %}
{%- endif %}
{%- endif %}
DESCRIBE WAREHOUSE {{ wh_name }};
{%- endfor %}

/*
WAREHOUSES CREATED
==================

Created {{ warehouse_definitions | length }} warehouse(s):
{%- for wh in warehouse_definitions %}
- {{ wh.warehouse_name | upper }} ({{ wh.size }}, {{ wh.purpose }})
{%- endfor %}

All warehouses:
- Owned by {{ data_product_name | upper }}_ADMIN
- Initially suspended (no cost)
- Auto-resume enabled
- Multi-cluster scaling enabled (1-3 clusters)
- Statement timeout: {{ timeout_seconds }} seconds ({{ (timeout_seconds / 60) | int }} minutes)
- Tags: DOMAIN, ENVIRONMENT, DATAPRODUCT, WORKLOAD (applied to all)
*/