-- ================================================================
-- RESOURCE MONITOR CREATION
-- (Execute the following commands in the appropriate account)
-- ================================================================

-- Run as ACCOUNTADMIN
USE ROLE ACCOUNTADMIN;

{% if resource_monitor_strategy == 'Simple' %}
CREATE RESOURCE MONITOR {{ dataproduct_list[0] | upper }}_MONITOR
  CREDIT_QUOTA = 1000
  FREQUENCY = WEEKLY
  START_TIMESTAMP = '2025-10-01 00:00:00 -0700'
  TRIGGERS ON 90 PERCENT DO NOTIFY
  TRIGGERS ON 100 PERCENT DO NOTIFY
  NOTIFY_USERS = ('jacob.davis@snowflake.com');

{% for item in warehouse_purpose_list %}
ALTER WAREHOUSE {{ dataproduct_list[0] | upper }}_{{ item | upper }}_WH SET RESOURCE_MONITOR = {{ dataproduct_list[0] | upper }}_MONITOR;
{% endfor %}
{% elif resource_monitor_strategy == 'Granular' %}
{% for item in warehouse_purpose_list %}
CREATE RESOURCE MONITOR {{ dataproduct_list[0] | upper }}_{{ item | upper }}_MONITOR
  CREDIT_QUOTA = 1000
  FREQUENCY = WEEKLY
  START_TIMESTAMP = '2025-10-01 00:00:00 -0700'
  TRIGGERS ON 90 PERCENT DO NOTIFY
  TRIGGERS ON 100 PERCENT DO NOTIFY
  NOTIFY_USERS = ('jacob.davis@snowflake.com');

ALTER WAREHOUSE {{ dataproduct_list[0] | upper }}_{{ item | upper }}_WH SET RESOURCE_MONITOR = {{ dataproduct_list[0] | upper }}_{{ item | upper }}_MONITOR;
{% endfor %}
{% endif %}